.App {
  text-align: center;
  margin-top: 20px;
}
button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  background-color: #0070f3;
  color: white;
  font-weight: 400;
  font-size: 32px;
  box-shadow: 0 4px 14px 0 #000;
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}
button :hover {
  background: rgba(0, 118, 255, 0.9);
  box-shadow: 0 6px 20px #000;
}